.brands {
  margin: 0;
  padding: 100px 0 80px;
  text-align: center;
  color: #0e0f3b;
  transition: 0.3s;
}

.brands__title {
  margin: 0 auto 43px;
  font-weight: 500;
  font-size: 4.3em;
  line-height: 1.3em;
}

.brands__subtitle {
  margin: 0 auto 80px;
  max-width: 43em;
  font-weight: 400;
  font-size: 1.7em;
  line-height: 1.2em;
}

.brands__image {
  max-width: 80%;
  margin: 0 auto 70px;
}

.brands__footer {
  margin: 0;
  font-weight: 500;
  font-size: 2.26em;
  line-height: 1.1em;
}

@media screen and (max-width: 1100px) {
  .brands {
    padding: 80px 0 70px;
  }
}

@media screen and (max-width: 800px) {
  .brands__image {
    max-width: 100%;
  }
}
