.header {
  display: flex;
  height: 150px;
  color: #0e0f3b;
  padding: 10px 50px;
  justify-content: space-between;
  transition: 0.3s;
}

.header__logo {
  height: 130px;
  width: 190px;
}

.header__left {
  display: flex;
  gap: 55px;
}

.header__nav {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 35px;
  align-items: center;
}

.header__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header__contact-title {
  font-weight: 600;
  font-size: 1.6em;
  line-height: 1.1em;
  margin: 0;
}

.header__contact-phone {
  margin: 0;
  color: #0e0f3b;
  text-decoration: none;
  font-weight: 300;
  font-size: 1.6em;
  line-height: 1.1em;
}

.header__modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.25);

  transform: scaleX(0);
  transform-origin: right;
  transition: 0.6s;
}

.header__nav-button {
  display: none;
  background: none;
  border: 2px solid #0e0f3b;
  border-radius: 10px;
  width: 100px;
  height: 45px;
  color: #0e0f3b;
  margin: auto 0;

  cursor: pointer;
  transition: 0.3s;
}

.header__nav-button:hover {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1100px) {
  .header {
    height: 100px;
  }

  .header__logo {
    height: 100px;
    width: 160px;
  }

  .header__left {
    gap: 25px;
  }

  .header__nav {
    font-size: 20px;
    line-height: 25px;
    gap: 25px;
  }

  .header__contact {
    gap: 15px;
  }
}

@media screen and (max-width: 740px) {
  .header {
    padding: 10px 20px;
  }

  .header__contact {
    display: none;
  }

  .header__left {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }

  .header__nav-button {
    display: block;
  }

  .header__nav {
    background-color: white;
    position: fixed;
    top: -20px;
    right: 0;
    width: 250px;
    height: 100vh;
    z-index: 4;
    box-shadow: 1px 1px 20px 1px black;
    flex-direction: column;
    padding-top: 50px;

    transform: translateX(120%);
    transition: 0.5s;
  }
}
