.service {
  margin: 0;
  width: 100%;
  padding-top: 90px;
  color: #0e0f3b;
  transition: 0.3s;
}

.service__title {
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 4.3em;
  line-height: 1.3em;
  text-align: center;
}

.service__subtitle {
  margin: 0 auto 4em;
  max-width: 25em;
  font-weight: 400;
  font-size: 1.7em;
  line-height: 1.2em;
  text-align: center;
}

.service__list {
  list-style: none;
  margin: 0 auto;
  max-width: 90%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 100px;
  column-gap: 5%;
}

.service__line {
  margin: 125px auto 0;
  width: 50%;
  height: 4px;
  background-color: #f7931e;
}

@media screen and (max-width: 1100px) {
}
